@use "./../abstracts/functions" as f;
@use "./../abstracts/mixins" as m;

.nav {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: subgrid;

  @media (width < 48em) {
    position: fixed;
    inset: 0 0 0 f.rem(100);
    background-color: var(--c-redish);
    grid-template-columns: initial;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: var(--transition);

    &.nav-open {
      transform: translateX(0);
    }
  }

  &__list {
    @include m.common-flex;
    justify-self: end;

    @media (width < 48em) {
      flex-direction: column;
      align-items: start;
      justify-self: start;
    }
  }

  &__link {
    font-size: var(--fs-link);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--c-black);
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: var(--c-dark);
    }

    @media (width < 48em) {
      color: var(--c-white);
    }
  }

  &__ctas {
    @include m.common-flex;
    align-self: start;

    @media (width >= 48em) {
      margin-inline-start: auto;
    }
  }

  &__cta {
    &--light {
      background-color: transparent;
      @extend .nav__link;
    }

    &--dark {
      @include m.button-dark;
    }
  }
}
