*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input,
button,
select,
textarea {
  font: inherit;
  outline: 0;
}

a {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

button {
  border: 0;
}
